body {
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(255, 242, 242);
}











